/v2/hardware/vancouver-skytrain-pcb/.svg2shenzhen-cache
v2/hardware/vancouver-skytrain-pcb/vancouver-skytrain-pcb-backups/vancouver-skytrain-pcb-2025-11-28_225451.zip
v2/input/map2.svg
v2/input/map.afdesign
v2/input/map.pdn
/v2/hardware/.svg2shenzhen-cache
/v2/hardware/vancouver-skytrain-pcb-backups
v2/hardware/C5349954-led/old_do_not_use_C5349954_2025Nov15-235021.zip
